{% extends 'base.html.twig' %}

{% block body %}

    <h1>All articles from the category {{ category.name }} : </h1>
    {% for article in article %}
        <div>
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>

{% endblock %}