{% extends "/base.html.twig" %}

{% block body %}

    <h1>Welcome to my blog !</h1>

    <br>
    <p>You can se all the category <a href="{{ path('all_category') }}">here</a></p>

    <p>And <a href="{{ path('article_index') }}">here</a>, you can see a list of articles !</p>
{% endblock %}